img {
	border: 1px solid black;
	width: 100%;
}

#cam_view {
	border: 1px solid black;
	width: auto;
	height: 300px;
}

.selected {
	font-weight: bold;
}

.archive-datetime {
	font-size: 36px;
	font-weight: bold;
	font-style: italic;
}

.margin-top-20 {
	margin-top: 20px;
}

/* TEMPLATES CORRECTIONS */

.nav > li > button {
	padding: 30px;
}

.navbar-nav > li > button {
	line-height: normal;
}

.btn-link {
    font-size: 1.25em;
}

.btn-link:hover, .btn-link:focus {
	text-decoration: none;
}